<ion-view view-title="Lot Details">
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list list-inset">
            <label class="item item-input">
                <input ng-model="data.lot" type="text" style="font-family: monospace;" placeholder="Lot Number">
            </label>
            <button ng-click="Submit()" class="button button-block button-positive">
                Submit
            </button>
        </div>
        <ul class="list">
            <li class="item" ng-repeat="(h,v) in data.result" style="padding:0px">
                <div class="row" style="padding:0px">
                    <div class="col col-40" style="font-weight:600;">{{h}}:</div>
                    <div class="col"> {{v}}</div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>