﻿<ion-view view-title="Barcode">
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        
        <div class="list list-inset">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model="data.barcodetext" placeholder="Email">
                </label>
                <button class="button button-small" ng-click="scanLot()">
                    Scan
                </button>
            </div>
            <div ng-bind="data.result" ng-class="data.style">

            </div>
        </div>
    </ion-content>
</ion-view>