﻿<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/home">
                    Lot Validation
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/lotDetail">
                    Lot Detail
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/stockerTxn">
                    Stocker Txn
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/allreports">
                    All Reports
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
