﻿<ion-view view-title="Lots in Operation Report">
    <ion-content class="padding">
        <button class="button button-small"
                ng-click="refreshBtnClick()"
                ng-class="status.refreshBtn === 'Auto Refresh Off' ? 'button-assertive':'button-balanced'">
            {{status.refreshBtn}}
        </button>
        <div class="card" ng-click="change()" ng-repeat="report in reports">
            <div class="item item-divider">
                Lots in Operation
            </div>
            <div class="item item-text-wrap">
                <canvas id="line" class="chart chart-bar" chart-data="report.data" chart-labels="report.labels" legend="false" chart-series="series" options="{showTooltips: true}"></canvas>
            </div>
        </div>
        
    </ion-content>
</ion-view>