<ion-view view-title="Stocker Transaction">
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list list-inset">
            <label class="item item-input">
                <input ng-model="data.lot" type="text" style="font-family: monospace;" placeholder="Lot Number">
            </label>
            <div class="button-bar">
                <a class="button {{stockerInBt}}" ng-click="stockerIn()">Stocker In</a>
                <a class="button {{stockerOutBt}}" ng-click="stockerOut()">Stocker Out</a>
            </div>
            <label class="item item-input" ng-if="stockerInBt === 'button-positive'">
                <input ng-model="data.stocker" type="text" placeholder="Stocker">
            </label>
            <label class="item item-input">
                <textarea ng-model="data.comments" placeholder="Comments" rows="8" cols="10" style=""></textarea>
            </label>
            <button ng-click="Submit()" class="button button-block button-positive">
                Submit
            </button>
            <div ng-bind="data.result" ng-class="data.style">

            </div>
        </div>
    </ion-content>
</ion-view>