﻿<ion-view view-title="Charts">
    <ion-content class="padding">
        <button class="button button-small" 
                ng-click="refreshBtnClick()"
                ng-class="status.refreshBtn === 'Auto Refresh Off' ? 'button-assertive':'button-balanced'">
            {{status.refreshBtn}}
        </button>
        <div class="card" ng-click="change()">
            <div class="item item-divider">
                A line chart
            </div>
            <div class="item item-text-wrap">
                <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: true}"></canvas>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                A bar chart
            </div>
            <div class="item item-text-wrap">
                <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: true}"></canvas>
            </div>
        </div>
    </ion-content>
</ion-view>