﻿<ion-view view-title="All Reports">
    <ion-content class="padding">

        <div class="list">
            <div class="item item-divider">
                Static Reports
            </div>
            <a class="item item-icon-left" href="#/app/lotOperation">
                <i class="icon ion-email"></i>
                Lots in Operation
            </a>
            <div class="item item-divider">
                Dynamic Reports
            </div>
        </div>
    </ion-content>
</ion-view>